h1,h2 {
    text-align: center;
}
#form {
    text-align: center;
    height: 600px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}
label {
    float: left;
    vertical-align: middle;
    height: 30px;
    width: 100px;
    margin-top: 10px;
}
.map {
  width: 1000px;
  height: 820px;
  margin: 0 auto;
  position: relative;
}
